@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    margin: 60px auto;
    padding: 0 10px;
    max-width: 650px;
    font-size: 18px;
    line-height: 1.6;
    background-color: #23303e;
    color: #cce5ff;
}

a {
    color: #cce5ff;
}

footer a {
    padding: 0 4px;
}

h1 {
    line-height: 1.3;
}
